.demo-container {
  overflow: hidden;
  margin: 5px 0;
}
.demo-container h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 10px;
}
.part {
  float: left;
  width: 640px;
  height: 480px;
}
.part.text {
  line-height: 20px;
  padding: 5px;
}
.part.text .source {
  display: block;
  margin: 10px 0 0 0;
}
.part.text:before {
  content: "tl;dr";
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
}
.demo {
  margin: 0 10px;
  position: relative;
}
.demo .actions {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.demo .action {
  display: inline-block;
}
.demo .stats {
  position: absolute;
  right: 100px;
  top: 60px;
  width: 240px;
  color: white;
  font-size: 20px;
}
.demo .stats .capacity, .demo .stats .count {
  font-size: 30px;
  margin: 0 0 20px 0;
}
.demo .stats .capacity .number, .demo .stats .count .number {
  font-weight: bold;
}
.demo .stats .iteration .label {
  margin: 0 0 10px 0;
}
.demo .stats .iteration .all {
  line-height: 24px;
}
.demo .stats .error {
  margin: 10px 0 0 0;
  color: red;
  background: black;
  line-height: 30px;
}
#bst .part {
  width: 1024px;
}
#bst .demo.part {
  height: 540px;
}
#bst .input_panel {
  margin: 10px 0 0 0;
  width: 100%;
  text-align: center;
}
#bst .input_panel .item {
  display: inline-block;
}
