.demo-container {
  overflow: hidden;
  margin: 5px 0;
}
.part {
  float: left;
  width: 640px;
  height: 480px;
  /*background: blue;*/

}
.demo {
  margin: 0 10px;
  position: relative;
}
.demo .actions {
  position: absolute;
  left: 300px;
  bottom: 10px;
}
.demo .action {
  float: left;
}
